In [50]:
import pandas as pd

In [51]:
tuples = [
         ("", "","Student No."),
    ("", "","Description"),
    ("", "","Pass / Fail"),
    ("", "","Remarks"),
    ("", "","Grade"),
    ("", "","Root Cause"),
    ("", "","Exam."),
    ("", "","Exam Date"),
    ("", "","Practical"),
    ("", "","Practical Date"),
         ('Vehicle MOB','2021','Nov'),
         ('Vehicle MOB','2021','Dec'),
         ('Vehicle MOB','2022','Jan'),
         ('Vehicle MOB','2022','Feb'),
         ('Vehicle MOB','2022','Mar'),
         ('Vehicle MOB','2022','Apr'),
         ('Vehicle MOB','2022','May'),
         ('Vehicle MOB','2022','Jun'),
         ('Vehicle MOB','2022','Jul'),
         ('Vehicle MOB','2022','Aug'),
         ('Vehicle MOB','2022','Sep'),
         ('Vehicle MOB','2022','Oct'),
         ('Vehicle MOB','2022','Nov'),
         ('Vehicle MOB','2022','Dec'),
         ('Vehicle MOB','2022MY' ,'Total')]
Final=pd.MultiIndex.from_tuples(tuples)
df = pd.DataFrame(index=range(16), columns=Final)

In [52]:
df

                                                                       \

   Student No. Description Pass / Fail Remarks Grade Root Cause Exam.
0          NaN         NaN         NaN     NaN   NaN        NaN   NaN
1          NaN         NaN         NaN     NaN   NaN        NaN   NaN
2          NaN         NaN         NaN     NaN   NaN        NaN   NaN
3          NaN         NaN         NaN     NaN   NaN        NaN   NaN
4          NaN         NaN         NaN     NaN   NaN        NaN   NaN
5          NaN         NaN         NaN     NaN   NaN        NaN   NaN
6          NaN         NaN         NaN     NaN   NaN        NaN   NaN
7          NaN         NaN         NaN     NaN   NaN        NaN   NaN
8          NaN         NaN         NaN     NaN   NaN        NaN   NaN
9          NaN         NaN         NaN     NaN   NaN        NaN   NaN
10         NaN         NaN         NaN     NaN   NaN        NaN   NaN
11         NaN         NaN         NaN     NaN   NaN        NaN   NaN
12         NaN         NaN         NaN     NaN   NaN        NaN   NaN
13         NaN         NaN         NaN     NaN   NaN        NaN   NaN
14         NaN         NaN         NaN     NaN   NaN        NaN   NaN
15         NaN         NaN         NaN     NaN   NaN        NaN   NaN

                                       ... Vehicle MOB                      \
                                       ...        2022
   Exam Date Practical Practical Date  ...         Apr  May  Jun  Jul  Aug
0        NaN       NaN            NaN  ...         NaN  NaN  NaN  NaN  NaN
1        NaN       NaN            NaN  ...         NaN  NaN  NaN  NaN  NaN
2        NaN       NaN            NaN  ...         NaN  NaN  NaN  NaN  NaN
3        NaN       NaN            NaN  ...         NaN  NaN  NaN  NaN  NaN
4        NaN       NaN            NaN  ...         NaN  NaN  NaN  NaN  NaN
5        NaN       NaN            NaN  ...         NaN  NaN  NaN  NaN  NaN
6        NaN       NaN            NaN  ...         NaN  NaN  NaN  NaN  NaN
7        NaN       NaN            NaN  ...         NaN  NaN  NaN  NaN  NaN
8        NaN       NaN            NaN  ...         NaN  NaN  NaN  NaN  NaN
9        NaN       NaN            NaN  ...         NaN  NaN  NaN  NaN  NaN
10       NaN       NaN            NaN  ...         NaN  NaN  NaN  NaN  NaN
11       NaN       NaN            NaN  ...         NaN  NaN  NaN  NaN  NaN
12       NaN       NaN            NaN  ...         NaN  NaN  NaN  NaN  NaN
13       NaN       NaN            NaN  ...         NaN  NaN  NaN  NaN  NaN
14       NaN       NaN            NaN  ...         NaN  NaN  NaN  NaN  NaN
15       NaN       NaN            NaN  ...         NaN  NaN  NaN  NaN  NaN


                       2022MY
    Sep  Oct  Nov  Dec  Total
0   NaN  NaN  NaN  NaN    NaN
1   NaN  NaN  NaN  NaN    NaN
2   NaN  NaN  NaN  NaN    NaN
3   NaN  NaN  NaN  NaN    NaN
4   NaN  NaN  NaN  NaN    NaN
5   NaN  NaN  NaN  NaN    NaN
6   NaN  NaN  NaN  NaN    NaN
7   NaN  NaN  NaN  NaN    NaN
8   NaN  NaN  NaN  NaN    NaN
9   NaN  NaN  NaN  NaN    NaN
10  NaN  NaN  NaN  NaN    NaN
11  NaN  NaN  NaN  NaN    NaN
12  NaN  NaN  NaN  NaN    NaN
13  NaN  NaN  NaN  NaN    NaN
14  NaN  NaN  NaN  NaN    NaN
15  NaN  NaN  NaN  NaN    NaN

[16 rows x 25 columns]

In [53]:
# df3.to_csv('out3.csv', index = False)

In [54]:
df['Vehicle MOB']['2021']['Nov'][15] = df['Vehicle MOB']['2021']['Nov'].sum(axis = 0)

In [55]:
df['Vehicle MOB']['2021']['Nov'][15]

0

In [56]:
df['Vehicle MOB']['2021']['Dec'][15] = df['Vehicle MOB']['2021']['Dec'].sum(axis = 0)

In [57]:
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

In [58]:
for i in months:
    df['Vehicle MOB']['2022'][i][15] = df['Vehicle MOB']['2022'][i].sum(axis = 0)

In [59]:
sum_of_2021 =df['Vehicle MOB']['2021']['Nov'] + df['Vehicle MOB']['2021']['Dec']

In [60]:
sum_2022 = 0
for i in months:
    
     sum_2022 += df['Vehicle MOB']['2022'][i]

In [61]:
df['Vehicle MOB']['2022MY']["Total"] = sum_of_2021 + sum_2022

In [62]:
df['Vehicle MOB']['2022MY']["Total"][15] = df['Vehicle MOB']['2022MY']["Total"].sum(axis = 0)

In [63]:
df[""][""]["Practical Date"][15] = "Total Presents"

In [64]:
df.head(20)

                                                                       \

   Student No. Description Pass / Fail Remarks Grade Root Cause Exam.
0          NaN         NaN         NaN     NaN   NaN        NaN   NaN
1          NaN         NaN         NaN     NaN   NaN        NaN   NaN
2          NaN         NaN         NaN     NaN   NaN        NaN   NaN
3          NaN         NaN         NaN     NaN   NaN        NaN   NaN
4          NaN         NaN         NaN     NaN   NaN        NaN   NaN
5          NaN         NaN         NaN     NaN   NaN        NaN   NaN
6          NaN         NaN         NaN     NaN   NaN        NaN   NaN
7          NaN         NaN         NaN     NaN   NaN        NaN   NaN
8          NaN         NaN         NaN     NaN   NaN        NaN   NaN
9          NaN         NaN         NaN     NaN   NaN        NaN   NaN
10         NaN         NaN         NaN     NaN   NaN        NaN   NaN
11         NaN         NaN         NaN     NaN   NaN        NaN   NaN
12         NaN         NaN         NaN     NaN   NaN        NaN   NaN
13         NaN         NaN         NaN     NaN   NaN        NaN   NaN
14         NaN         NaN         NaN     NaN   NaN        NaN   NaN
15         NaN         NaN         NaN     NaN   NaN        NaN   NaN

                                        ... Vehicle MOB                      \
                                        ...        2022
   Exam Date Practical  Practical Date  ...         Apr  May  Jun  Jul  Aug
0        NaN       NaN             NaN  ...         NaN  NaN  NaN  NaN  NaN
1        NaN       NaN             NaN  ...         NaN  NaN  NaN  NaN  NaN
2        NaN       NaN             NaN  ...         NaN  NaN  NaN  NaN  NaN
3        NaN       NaN             NaN  ...         NaN  NaN  NaN  NaN  NaN
4        NaN       NaN             NaN  ...         NaN  NaN  NaN  NaN  NaN
5        NaN       NaN             NaN  ...         NaN  NaN  NaN  NaN  NaN
6        NaN       NaN             NaN  ...         NaN  NaN  NaN  NaN  NaN
7        NaN       NaN             NaN  ...         NaN  NaN  NaN  NaN  NaN
8        NaN       NaN             NaN  ...         NaN  NaN  NaN  NaN  NaN
9        NaN       NaN             NaN  ...         NaN  NaN  NaN  NaN  NaN
10       NaN       NaN             NaN  ...         NaN  NaN  NaN  NaN  NaN
11       NaN       NaN             NaN  ...         NaN  NaN  NaN  NaN  NaN
12       NaN       NaN             NaN  ...         NaN  NaN  NaN  NaN  NaN
13       NaN       NaN             NaN  ...         NaN  NaN  NaN  NaN  NaN
14       NaN       NaN             NaN  ...         NaN  NaN  NaN  NaN  NaN
15       NaN       NaN  Total Presents  ...           0    0    0    0    0


                       2022MY
    Sep  Oct  Nov  Dec  Total
0   NaN  NaN  NaN  NaN    NaN
1   NaN  NaN  NaN  NaN    NaN
2   NaN  NaN  NaN  NaN    NaN
3   NaN  NaN  NaN  NaN    NaN
4   NaN  NaN  NaN  NaN    NaN
5   NaN  NaN  NaN  NaN    NaN
6   NaN  NaN  NaN  NaN    NaN
7   NaN  NaN  NaN  NaN    NaN
8   NaN  NaN  NaN  NaN    NaN
9   NaN  NaN  NaN  NaN    NaN
10  NaN  NaN  NaN  NaN    NaN
11  NaN  NaN  NaN  NaN    NaN
12  NaN  NaN  NaN  NaN    NaN
13  NaN  NaN  NaN  NaN    NaN
14  NaN  NaN  NaN  NaN    NaN
15    0    0    0    0      0

[16 rows x 25 columns]

In [65]:
import xlsxwriter

In [66]:
writer = pd.ExcelWriter('out104.xlsx', engine='xlsxwriter')

In [67]:
header = df.columns.to_frame(index=False)

In [68]:
header = header.T

In [69]:
header

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,,,,,,,,,,,...,Vehicle MOB,Vehicle MOB,Vehicle MOB,Vehicle MOB,Vehicle MOB,Vehicle MOB,Vehicle MOB,Vehicle MOB,Vehicle MOB,Vehicle MOB
1,,,,,,,,,,,...,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022MY
2,Student No.,Description,Pass / Fail,Remarks,Grade,Root Cause,Exam.,Exam Date,Practical,Practical Date,...,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Total

In [70]:
# df.set_axis(range(len(df.columns)), axis=1) # replacing column names with indexes

In [71]:
df1 = df.set_axis(range(len(df.columns)), axis=1)

In [72]:
df1

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total Presents,...,0,0,0,0,0,0,0,0,0,0

In [73]:
col = ["Student No." , "Description" ,"Pass / Fail", "Remarks" ,"Grade", "Root Cause" ,
 "Exam.", "Exam Date", "Practical", "Practical Date"]

In [74]:
len(col)

10

In [75]:
# df1 = df.set_axis(Final, axis=1)

In [76]:
# df1

In [77]:
with pd.ExcelWriter('output123456.xlsx') as writer:  
    header.to_excel(writer, sheet_name='Sheet1', header=False, index=False)
    df1.to_excel(writer, sheet_name='Sheet1', header=False, index=False, startrow=2)
    
    workbook  = writer.book
    worksheet = writer.sheets['Sheet1']
    
    merge_format = workbook.add_format({
    'align': 'center',
    'valign': 'vcenter',
    'bold' :1,
    'text_wrap': True})
    
    col_format = workbook.add_format({
    'align': 'center',
    'valign': 'vcenter',
    'bold':1,})
    
    
    
#     worksheet.merge_range("A1:J2", "")
#                             st row, st col, end row, end col
#                             0,0 , 1,9
            
                            
        
        
    worksheet.merge_range(0,0,1,(len(col)-1), '') #st row, st col, last row, last col
    
    worksheet.merge_range('K1:Y1', 'Month of Build', merge_format)
    
    worksheet.merge_range('K2:L2', '2021', merge_format)
    
    worksheet.merge_range('M2:X2', '2022', merge_format)

    worksheet.merge_range('Y2:Y3', '2022MY Total', merge_format)
    
    
    
    worksheet.set_column('A:A', 10, col_format)
    worksheet.set_column('B:B', 15.5, col_format)
    worksheet.set_column('C:C', 16.5, col_format)
    worksheet.set_column('D:D', 22.5, col_format)
    worksheet.set_column('E:E', 8.5, col_format)
    worksheet.set_column('F:F', 35, col_format)
    worksheet.set_column('G:G', 9, col_format)
    worksheet.set_column('H:H', 11, col_format)
    worksheet.set_column('I:I', 8.5, col_format)
    worksheet.set_column('J:J', 13, col_format)
    
    worksheet.set_column('K:X', 3.5, col_format)
    
    worksheet.set_column('Y:Y', 7.5, col_format)
    
    
    border = workbook.add_format({"border" :2, "border_color" : "#000000"})
    
    
    worksheet.conditional_format( 'A1:Y18' , { 'type' : 'blanks' , 'format' : border})
    worksheet.conditional_format( 'A1:Y18' , { 'type' : 'no_blanks' , 'format' : border})

#     writer.save()

In [78]:
df.shape

(16, 25)

In [79]:
# worksheet.conditional_format( 'A1:D12' , { 'type' : 'no_blanks' , 'format' : border})

In [80]:
# workbook  = writer.book
# worksheet = writer.sheets['Sheet1']

In [81]:
# workbook  = xlsxwriter.Workbook('abcdefg.xlsx')
# worksheet = workbook.add_worksheet()

In [82]:
# merge_format = workbook.add_format({
#     'align': 'center',
#     'valign': 'vcenter',
#     'text_wrap': True})

# worksheet.merge_range('A1:J2', '')

# worksheet.merge_range('Z2:Z3', '2022MY Total', merge_format)

# writer.save()

In [83]:
import openpyxl

In [85]:
# wb=openpyxl.load_workbook('output123.xlsx')
# sheet = wb.sheetnames
# worksheet= wb['Sheet1']
# # option1
# worksheet['K18']="=SUM(K4:K17)"
# worksheet['L18']="=SUM(L4:L17)"
# worksheet['M18'] ="=SUM(M4:M17)"
# worksheet['N18'] ="=SUM(N4:N17)"
# worksheet['O18'] ="=SUM(O4:O17)"
# worksheet['P18'] ="=SUM(P4:P17)"
# worksheet['Q18'] ="=SUM(Q4:Q17)"
# worksheet['R18'] ="=SUM(R4:R17)"
# worksheet['S18'] ="=SUM(S4:S17)"
# worksheet['T18'] ="=SUM(T4:T17)"
# worksheet['U18'] ="=SUM(U4:U17)"
# worksheet['V18'] ="=SUM(V4:V17)"
# worksheet['W18'] ="=SUM(W4:W17)"
# worksheet['X18'] ="=SUM(X4:X17)"
# worksheet['Y18'] ="=SUM(Y4:Y17)"
# wb.save('final_output.xlsx')

In [90]:
import string
result = string.ascii_uppercase
alph = list(result)
address = []
for i in alph:
    for j in alph:
        address.append(i+j)
all_address = alph+address
all_address=list(pd.Series(all_address)[10:])

In [96]:
wb=openpyxl.load_workbook('output123456.xlsx')
sheet = wb.sheetnames
worksheet= wb['Sheet1']
max_col=worksheet.max_column-10
second_last = worksheet.max_row-1
last_row = worksheet.max_row
for i in pd.Series(all_address).head(max_col):
    worksheet[f"{i}{last_row}"]=f'=SUM({i}4:{i}{second_last})'
#     wb.save('final_output158.xlsx')
wb.save('final_output.xlsx')

In [97]:
wb=openpyxl.load_workbook('final_output.xlsx')
sheet = wb.sheetnames
worksheet= wb['Sheet1']
max_row=worksheet.max_row
for i in range(4,max_row):
    worksheet[f"Y{i}"]=f'=SUM(K{i}:X{i})'
wb.save('final_output.xlsx')

In [98]:
max_row

18

In [37]:
from openpyxl.styles.borders import Border,Side
import openpyxl
from openpyxl import Workbook
from openpyxl.styles import Color, PatternFill, Font, Border
from openpyxl.styles import colors
from openpyxl.cell import Cell

In [39]:
wb=openpyxl.load_workbook('final_output.xlsx')
sheet = wb.sheetnames
worksheet= wb['Sheet1']
from openpyxl.styles import Alignment
worksheet.merge_cells("A18:I18")#merging Last row cells
from openpyxl.formatting.rule import CellIsRule
# Conditional Formating
gfill = PatternFill(start_color='3CB371',end_color='3CB371',fill_type='solid')
worksheet.conditional_formatting.add('K18:X18',CellIsRule(operator='equal',formula=['0'],stopIfTrue=True,fill=gfill))
rfill = PatternFill(start_color='FF6666',end_color='FF6666',fill_type='solid')
worksheet.conditional_formatting.add('K18:X18',CellIsRule(operator='greaterThan',formula=['8'],stopIfTrue=True,fill=rfill))
ofill = PatternFill(start_color='FFB266',end_color='FFB266',fill_type='solid')
worksheet.conditional_formatting.add('K18:X18',CellIsRule(operator='between',formula=('1','8'),stopIfTrue=True,fill=ofill))
yfill = PatternFill(start_color='FFB266',end_color='FFB266',fill_type='solid')
worksheet.conditional_formatting.add('K18:X18',CellIsRule(operator='lessThan',formula=['2'],stopIfTrue=True,fill=yfill))
wb.save('output199431decemmmmmnn.xlsx')

In [1]:
# wb=openpyxl.load_workbook('output199431decemmmmmnn.xlsx')
# sheet = wb.sheetnames
# worksheet= wb['Sheet1']
# for i in range(4,18):
#     worksheet[f"Y{i}"]=f'=SUM(K{i}:X{i})'
# wb.save('final_outputmmmmmm.xlsx')

In [39]:
import string

In [40]:
result = string.ascii_uppercase

In [41]:
result

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [42]:
alph = list(result)

In [43]:
print(alph)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [44]:
address = []
for i in alph:
    for j in alph:
        address.append(i+j)

In [45]:
# address

In [46]:
all_address = alph+address

In [47]:
print(all_address)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'AA', 'AB', 'AC', 'AD', 'AE', 'AF', 'AG', 'AH', 'AI', 'AJ', 'AK', 'AL', 'AM', 'AN', 'AO', 'AP', 'AQ', 'AR', 'AS', 'AT', 'AU', 'AV', 'AW', 'AX', 'AY', 'AZ', 'BA', 'BB', 'BC', 'BD', 'BE', 'BF', 'BG', 'BH', 'BI', 'BJ', 'BK', 'BL', 'BM', 'BN', 'BO', 'BP', 'BQ', 'BR', 'BS', 'BT', 'BU', 'BV', 'BW', 'BX', 'BY', 'BZ', 'CA', 'CB', 'CC', 'CD', 'CE', 'CF', 'CG', 'CH', 'CI', 'CJ', 'CK', 'CL', 'CM', 'CN', 'CO', 'CP', 'CQ', 'CR', 'CS', 'CT', 'CU', 'CV', 'CW', 'CX', 'CY', 'CZ', 'DA', 'DB', 'DC', 'DD', 'DE', 'DF', 'DG', 'DH', 'DI', 'DJ', 'DK', 'DL', 'DM', 'DN', 'DO', 'DP', 'DQ', 'DR', 'DS', 'DT', 'DU', 'DV', 'DW', 'DX', 'DY', 'DZ', 'EA', 'EB', 'EC', 'ED', 'EE', 'EF', 'EG', 'EH', 'EI', 'EJ', 'EK', 'EL', 'EM', 'EN', 'EO', 'EP', 'EQ', 'ER', 'ES', 'ET', 'EU', 'EV', 'EW', 'EX', 'EY', 'EZ', 'FA', 'FB', 'FC', 'FD', 'FE', 'FF', 'FG', 'FH', 'FI', 'FJ', 'FK', 'FL', 'FM', 'FN', 'FO', 'FP', 'FQ', 'FR', 'FS', 'FT', 'FU', 'FV', 'FW', 'FX', 'FY', 'FZ', 'GA', 'GB', 'GC', 'GD', 'GE', 'GF', 'GG', 'GH', 'GI', 'GJ', 'GK', 'GL', 'GM', 'GN', 'GO', 'GP', 'GQ', 'GR', 'GS', 'GT', 'GU', 'GV', 'GW', 'GX', 'GY', 'GZ', 'HA', 'HB', 'HC', 'HD', 'HE', 'HF', 'HG', 'HH', 'HI', 'HJ', 'HK', 'HL', 'HM', 'HN', 'HO', 'HP', 'HQ', 'HR', 'HS', 'HT', 'HU', 'HV', 'HW', 'HX', 'HY', 'HZ', 'IA', 'IB', 'IC', 'ID', 'IE', 'IF', 'IG', 'IH', 'II', 'IJ', 'IK', 'IL', 'IM', 'IN', 'IO', 'IP', 'IQ', 'IR', 'IS', 'IT', 'IU', 'IV', 'IW', 'IX', 'IY', 'IZ', 'JA', 'JB', 'JC', 'JD', 'JE', 'JF', 'JG', 'JH', 'JI', 'JJ', 'JK', 'JL', 'JM', 'JN', 'JO', 'JP', 'JQ', 'JR', 'JS', 'JT', 'JU', 'JV', 'JW', 'JX', 'JY', 'JZ', 'KA', 'KB', 'KC', 'KD', 'KE', 'KF', 'KG', 'KH', 'KI', 'KJ', 'KK', 'KL', 'KM', 'KN', 'KO', 'KP', 'KQ', 'KR', 'KS', 'KT', 'KU', 'KV', 'KW', 'KX', 'KY', 'KZ', 'LA', 'LB', 'LC', 'LD', 'LE', 'LF', 'LG', 'LH', 'LI', 'LJ', 'LK', 'LL', 'LM', 'LN', 'LO', 'LP', 'LQ', 'LR', 'LS', 'LT', 'LU', 'LV', 'LW', 'LX', 'LY', 'LZ', 'MA', 'MB', 'MC', 'MD', 'ME', 'MF', 'MG', 'MH', 'MI', 'MJ', 'MK', 'ML', 'MM', 'MN', 'MO', 'MP', 'MQ', 'MR', 'MS', 'MT', 'MU', 'MV', 'MW', 'MX', 'MY', 'MZ', 'NA', 'NB', 'NC', 'ND', 'NE', 'NF', 'NG', 'NH', 'NI', 'NJ', 'NK', 'NL', 'NM', 'NN', 'NO', 'NP', 'NQ', 'NR', 'NS', 'NT', 'NU', 'NV', 'NW', 'NX', 'NY', 'NZ', 'OA', 'OB', 'OC', 'OD', 'OE', 'OF', 'OG', 'OH', 'OI', 'OJ', 'OK', 'OL', 'OM', 'ON', 'OO', 'OP', 'OQ', 'OR', 'OS', 'OT', 'OU', 'OV', 'OW', 'OX', 'OY', 'OZ', 'PA', 'PB', 'PC', 'PD', 'PE', 'PF', 'PG', 'PH', 'PI', 'PJ', 'PK', 'PL', 'PM', 'PN', 'PO', 'PP', 'PQ', 'PR', 'PS', 'PT', 'PU', 'PV', 'PW', 'PX', 'PY', 'PZ', 'QA', 'QB', 'QC', 'QD', 'QE', 'QF', 'QG', 'QH', 'QI', 'QJ', 'QK', 'QL', 'QM', 'QN', 'QO', 'QP', 'QQ', 'QR', 'QS', 'QT', 'QU', 'QV', 'QW', 'QX', 'QY', 'QZ', 'RA', 'RB', 'RC', 'RD', 'RE', 'RF', 'RG', 'RH', 'RI', 'RJ', 'RK', 'RL', 'RM', 'RN', 'RO', 'RP', 'RQ', 'RR', 'RS', 'RT', 'RU', 'RV', 'RW', 'RX', 'RY', 'RZ', 'SA', 'SB', 'SC', 'SD', 'SE', 'SF', 'SG', 'SH', 'SI', 'SJ', 'SK', 'SL', 'SM', 'SN', 'SO', 'SP', 'SQ', 'SR', 'SS', 'ST', 'SU', 'SV', 'SW', 'SX', 'SY', 'SZ', 'TA', 'TB', 'TC', 'TD', 'TE', 'TF', 'TG', 'TH', 'TI', 'TJ', 'TK', 'TL', 'TM', 'TN', 'TO', 'TP', 'TQ', 'TR', 'TS', 'TT', 'TU', 'TV', 'TW', 'TX', 'TY', 'TZ', 'UA', 'UB', 'UC', 'UD', 'UE', 'UF', 'UG', 'UH', 'UI', 'UJ', 'UK', 'UL', 'UM', 'UN', 'UO', 'UP', 'UQ', 'UR', 'US', 'UT', 'UU', 'UV', 'UW', 'UX', 'UY', 'UZ', 'VA', 'VB', 'VC', 'VD', 'VE', 'VF', 'VG', 'VH', 'VI', 'VJ', 'VK', 'VL', 'VM', 'VN', 'VO', 'VP', 'VQ', 'VR', 'VS', 'VT', 'VU', 'VV', 'VW', 'VX', 'VY', 'VZ', 'WA', 'WB', 'WC', 'WD', 'WE', 'WF', 'WG', 'WH', 'WI', 'WJ', 'WK', 'WL', 'WM', 'WN', 'WO', 'WP', 'WQ', 'WR', 'WS', 'WT', 'WU', 'WV', 'WW', 'WX', 'WY', 'WZ', 'XA', 'XB', 'XC', 'XD', 'XE', 'XF', 'XG', 'XH', 'XI', 'XJ', 'XK', 'XL', 'XM', 'XN', 'XO', 'XP', 'XQ', 'XR', 'XS', 'XT', 'XU', 'XV', 'XW', 'XX', 'XY', 'XZ', 'YA', 'YB', 'YC', 'YD', 'YE', 'YF', 'YG', 'YH', 'YI', 'YJ', 'YK', 'YL', 'YM', 'YN', 'YO', 'YP', 'YQ', 'YR', 'YS', 'YT', 'YU', 'YV', 'YW', 'YX', 'YY', 'YZ', 'ZA', 'ZB', 'ZC', 'ZD', 'ZE', 'ZF', 'ZG', 'ZH', 'ZI', 'ZJ', 'ZK', 'ZL', 'ZM', 'ZN', 'ZO', 'ZP', 'ZQ', 'ZR', 'ZS', 'ZT', 'ZU', 'ZV', 'ZW', 'ZX', 'ZY', 'ZZ']

In [62]:
len(all_address[10:])

692